<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.vassuv.blixr">

    <!-- <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> -->
    <!-- <uses-permission android:name="android.permission.CALL_PHONE" /> -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACTION_OPEN_DOCUMENT" />

    <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->
    <application
        android:name=".App"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.activity.SplashActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.IntroActivity"
            android:label="@string/title_activity_intro"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.TransparentStatusBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBarLightStatus"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.activity.ConfirmEmailActivity"
            android:label="@string/title_activity_login"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBarLightStatus"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.MainActionBar"
            android:windowSoftInputMode="adjustResize" />

        <meta-data
            android:name="android.security.net.config"
            android:resource="@xml/network_security_config" />

    </application>

</manifest>